<template>
    <v-content class ="back">
        <v-layout row>
            <v-spacer></v-spacer>
            <v-flex md6 xs10 height="300">
                <v-container class="form">
                    <v-layout column>
                        <div class="logoContainer">
                            <v-img src="../assets/general/FinalHighQualityBrainTrainerLogo.png" />
                        </div>
                        <v-layout row>
                            <v-spacer></v-spacer>
                            <v-flex md8 xs10> 
                                <v-text-field
                                    v-model="username"
                                    label="Username"
                                    placeholder="Username"
                                    required
                                    outlined
                                    clearable
                                    color="grey"
                                    class="black--text mt-5"
                                    height="40"
                                ></v-text-field>
                            </v-flex>
                            <v-spacer> </v-spacer>
                        </v-layout>
                        <v-layout row>
                            <v-spacer></v-spacer>
                            <v-flex md8 xs10> 
                                <v-text-field
                                    v-model="password"
                                    label="Password"
                                    type="password"
                                    color="grey"
                                    required
                                    placeholder="Password"
                                    outlined
                                    clearable
                                    class="black--text"
                                    height="40"
                                ></v-text-field>
                            </v-flex>
                            <v-spacer> </v-spacer>
                        </v-layout>
                        <v-layout row>
                            <v-spacer/>
                            <v-flex md4 xs5>
                            <v-btn class="loginButton white--text" height="50" @click="login">LOGIN</v-btn>
                            </v-flex>
                            <v-spacer/>
                        </v-layout>
                    </v-layout>
                </v-container>
            </v-flex>
            <v-spacer></v-spacer>
        </v-layout>
    </v-content>
</template>
<script>
export default {
    name: 'Admin',
    data: () => ({
        valid: false,
        username: '',
        password: ''
    }),
    methods: {
        login(){

        }
    }
}
</script>
<style scoped lang="less">
  @import "../assets/less/settings.less";
    .back {
        background-image: url("../assets/general/niceBackground.png");
        background-repeat: repeat;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form {
        background-color: white;
        height: 500px;
        -webkit-box-shadow: 0px 0px 12px 12px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 0px 12px 12px rgba(0,0,0,0.5);
        box-shadow: 0px 0px 12px 12px rgba(0,0,0,0.5);
    }
    .logoContainer {
        width: 250px;
        height: 200px;
    }
    .logoContainer img {
        width: 100%;
    }
    .textField {
        color: black!important;
    }
    .loginButton {
        width: 100%;
        background-color: @brainTrainerOrange!important;
        font-size: 27px;
    }
</style>
