<template>
    <v-content>
        <SignUpToolBar />
        <NavBar />
        <v-container class="text-center"> 
            <span class="allBooksHeading">
                Popular Brain Trainer Books
            </span>
            <v-layout row wrap>
                <v-flex xs12 sm12 md4 v-for="(book, index) of books" :key="book.id" class="bookRow" @click="onBookClick(index)">
                    <span class="bookTitle"> {{book.title}} </span>
                    <div class="bookImageDiv">
                        <v-img v-bind:src="book.image" alt="Image of Book Cover"/>
                    </div>
                </v-flex>
            </v-layout>
        </v-container>
    </v-content>
</template>

<script>
import BookService from '../BookService';
import SignUpToolBar from './SignUpToolBar.vue';
import NavBar from './NavBar.vue';
export default {
    name: 'AllBooks',
    components: { SignUpToolBar, NavBar },
     data:() => {
        return {
          books: [],
          currentPage: 1,
          error: '',
          text: '',
          clickedBook:'',
        }
    },
    async created() {
        try {
            this.books = await BookService.getBooks(); 
        } catch(err){
            this.error = err.message;
        }
    },
    methods: {
        onBookClick(index){
            let id= this.books[index]._id;
            //If book exists - redirect:
            if(this.books[index]){
                this.$router.push(`/bookdetail/${id}`);
            }
        }
    }
}
</script>
<style lang="less" scoped>
  @import "../assets/less/settings.less";
    .bookTitle {
        font-size: 30px;
        color: @brainTrainerBlue;

    }
    .bookRow{
        margin-top: 30px;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: background-color 0.5s ease;
        background-color: white;
    }
    .bookRow:hover{
        cursor: pointer;
    }
    .bookRow:hover{
        background-color: lightgrey;
    }
    .bookImageDiv {
        width: 300px;
        height: 350px;
        margin: auto;
    }
    .bookImageDiv img {
        width: 100%;
    }
    .allBooksHeading {
        margin: auto;
        font-size: 60px;
        font-family:'Times New Roman', Times, serif;
        font-weight: bold;
        color: @brainTrainerBlue;
    }
    .bookRowCol {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    @media (max-width: 600px) {
        .allBooksHeading {
            font-size: 48px;
        }
    }
</style>    
