<template>
    <v-content>
                <SignUpToolBar />
                <NavBar />
                <v-container>
                    <button @click="goBack" class="backButton"><v-icon dark size="65" class="leftIcon">keyboard_arrow_left</v-icon><span class="buttonText">Back</span></button>
                    <v-layout row wrap  v-if="book" class="mt-4 productBorder">
                        <v-flex xs12 sm12 md6 justify-center class="coverCol">
                            <div class="productImageDiv">
                                 <v-img v-bind:src="book.image" alt="Image of Book Cover"/>
                            </div>
                        </v-flex>
                        <v-flex xs12 sm12 md6 class="descriptionCol text-center" justify-space-between>
                            <span class="bookTitle">{{book.title}}</span>
                            <Rating :ratingCount="amountOfRatings" :averageRating="averageRating" :onRating="addRating" :lockedRating="lockedRating"/>
                                <v-alert v-show="ratingAdded"
                                    dense
                                    text
                                    type="success"
                                    >
                                    We appreciate your <strong>feedback!</strong>
                                </v-alert>
                            <div class="descriptionHeader">
                                <span class="descriptionHeader text-left">Description</span>
                                <div class="underline"></div>
                               <span class="bookDescription text-left my-4">{{book.description}}</span>
                            </div>
                            <div class="mt-4">
                                <FlashButton :onClick="linkToBook" title="Buy on Amazon" color="#D16B24"/>
                            </div>
                        </v-flex>
                    </v-layout>
                </v-container>
    </v-content>
</template>
<script>
import BookService from '../BookService';
import Rating from './Rating.vue';
import SignUpToolBar from './SignUpToolBar.vue';
import FlashButton from './FlashButton.vue';
import NavBar from './NavBar.vue';
export default {
    name: 'BookDetail',
    components: { SignUpToolBar, FlashButton, Rating, NavBar },
    data() {
        return {
            loading: false,
            book: null,
            amountOfRatings: 0,
            averageRating: 0,
            lockedRating: false,
            ratingAdded: false
        }
    },
    async created(){
        this.loading = true;
        try {
          await this.reloadRatings();
        } catch(err){
            console.log('Error [300]');
        }
    },

    methods: {
         linkToBook(){
            window.open("http://www.amazon.com/gp/product/" + this.book.productNo);
        },
        goBack(){
            this.$router.push({path: '/allbooks'})
        },
        async reloadRatings(){
             try {
                this.book =  await BookService.getBook(this.$route.params.id);
                console.log(this.book);
                let ratingArray = this.book.ratingArray;
                if(!ratingArray){
                    return;
                }
                this.amountOfRatings = ratingArray.length;

                let total = 0;
                for(let i = 0; i < ratingArray.length; i++){
                    total += parseInt(ratingArray[i]);
                }
                this.averageRating = total / ratingArray.length;
                // localStorage only supports the use of strings, hence JSON.parse():
                // https://stackoverflow.com/questions/3357553/how-do-i-store-an-array-in-localstorage
                let reviewArray = JSON.parse(localStorage.getItem('reviewArray'));
                if(reviewArray){
                    if(reviewArray.includes(this.book.productNo)){
                        this.lockedRating = true;
                    }
                }
            } catch(err){
                console.log(err);
            }
        },
        async addRating(){
            if(this.lockedRating){
                return;
            }
            this.ratingAdded = true;
            this.showAlert();

            try {
                // localStorage only supports the use of strings, hence JSON.parse() + JSON.stringify()
                // https://stackoverflow.com/questions/3357553/how-do-i-store-an-array-in-localstorage
                let reviewArray = JSON.parse(localStorage.getItem('reviewArray'));
                if(!reviewArray)
                     reviewArray = [];
                reviewArray.push(this.book.productNo);
                localStorage.setItem('reviewArray', JSON.stringify(reviewArray));
                await this.reloadRatings();
            } catch(err){
                console.log(err);
            }
        },
        async showAlert(){
            setTimeout(() => this.ratingAdded = false, 3000)
        }
    }
}
</script>
<style lang="less" scoped>
      @import "../assets/less/settings.less";

.productImageDiv {
    width: 60%;
    height: 60%;
    margin: auto;
    padding-top:5%;
    padding-bottom: 5%;
}
.productBorder,.descriptionCol {
    min-height: 750px;
    display: flex;
    justify-content: center;
    padding: 50px;
}
.coverCol{
    // background-color:grey;
}
.backButton {
    background-color:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonText {
    font-size: 35px;
    color: @brainTrainerBlue;
}
.leftIcon {
    color: @brainTrainerBlue;
}
.bookTitle {
    font-size: 35px;
    color: grey;
    font-weight: bold;
}
.descriptionCol{
    display: flex;
    flex-direction: column;
}
.descriptionHeader{
    color: grey;
    font-size: 30px;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
}
.underline {
    height: 2px;
    background-color: grey;
    width: 100%;
}
.bookDescription {
    font-size: 25px;
}
@media (max-width: 600px){
    .buttonText {
        font-size: 20px;
    }
    .backButton {
        width: 40px!important;
        height: 40px!important;
        margin-left: 5%;
    }
    .productImageDiv{
        width: 100%;
        height: 100%;
    }
    .bookTitle {
        font-size: 25px;
    }
    .descriptionCol{
        padding: 0px;
    }
    .descriptionHeader{
        justify-content: center!important;
    }
    .bookDescription {
        font-size: 20px;
    }
}
</style>
