<template>
     <button class="allBooksButton" :style="style" @click="onClick">
          <span>{{title}}</span>
     </button>
</template>

<script>
export default {
    props: {
        title:String,  
         onClick: {
            type: Function,
            required: true
        },
        color:String
    },
    computed: {
        style () {
        return 'background-color: ' + this.color;
      }
    }
}
</script>

<style lang="less" scoped>
      @import "../assets/less/settings.less";
    .allBooksButton {
        width: 300px;
        height: 80px;
        position: relative;
        overflow:hidden;
        color: white;
        font-size: 2.2rem;
        // background-color: @brainTrainerBlue;
    }
    .allBooksButton::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        Left: -100%;
        top: 0;
        background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.4), transparent);
        transition: all 450ms;
    }
    .allBooksButton:hover::before {
        Left: 100%;
    }
    @media (max-width:600px){
        .allBooksButton{
            width: 200px;
            height: 90px;
            font-size: 2rem;
        }
    }
</style>
