<template>
<v-content>
    <SignUpToolBar/>
    <NavBar />
    <v-container>
        <v-layout align-center justify-center row fill-height height="200"  class="back text-center">
            <div class="imgContainer">
               <v-img src="../assets/general/CompressedFinalHighQualityBrainTrainerLogo.png"/>
            </div>
        </v-layout>
         <v-layout align-center class="text-center mt-5" row fill-height>
           <p class="brainTrainerMessage"> 
                    Keeping minds engaged, entertained, and educated is easy with Brain Trainer
           </p>
         </v-layout>
    </v-container>
    <v-container>
        <div class="bookArea">
            <div class="slider" v-bind:style="{width: items.length * 400 + 'px'}">
                <div v-for="(item, index) of items" :key="item.id">
                    <div class="bookDiv">
                        <div class="bookImgContainer" v-bind:class="{grow: item.isHovered}" @mouseover="activateHover(index)" @mouseleave="disableHover(index)" @click="linkToBook(index)">
                            <v-img v-bind:src="require('../assets/covers/' + item.cover)" /> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="whiteOverlayLeft"></div>
            <div class="whiteOverlayRight"></div>
        </div>
        <v-layout justify-center row height="120">
            <!-- <button class="allBooksButton" @click="goToAllBooks">
                <span>All Books</span>
            </button> -->
            <FlashButton :onClick="goToAllBooks" title="All Books" color="#3a5968"></FlashButton>
            <!-- <span>
                'Brain Trainer' is the creator of new age, exciting and innovative puzzle books that are designed to make you think. Including some of the most devilishly difficult conundrums ever created, such as Word Search, Sudoku and Maze Books, they are designed to test your brain like never before.

Great for kids, adults and the elderly, perfect for anyone with time on their hands or to help
mentally stimulate and challenge those who may be suffering from a memory related illness. The range of books on offer will provide you with endless hours of entertainment!

It is our aim to make your brain better, fitter and healthier by spending just a few minutes, or as long as you like, each day.

Whether you just need to unwind and destress after a long day at work, looking for something to entertain bored kids on a rainy day, or just fancy testing yourself to keep your mind sharp and in tune, 'Brain Trainer' has a puzzle for everyone.

            </span> -->
        </v-layout>
    </v-container>
    <v-container fluid>
          <v-layout row height="200" class="instagramSection" fluid justify-center align-center>
            <v-flex md3 xs12 class="justify-center">
                <a href="https://www.instagram.com/braintrainerr/" class="instaLink">

                <div class="logoContainer">
                    <v-img src="../assets/general/CompressedInstaWhiteLogo.png" />
                </div>
                </a>
            </v-flex>
            <v-flex md6 xs12 justify-center align-center class="text-center">
                <span class="white--text instagramMessage"> Throw out the newspaper and follow us on Instagram for daily puzzles</span>
                <a href="https://www.instagram.com/braintrainerr/" class="instaLink"><h1 class="instagramLink white--text">@Braintrainerr</h1></a>
            </v-flex>
            <v-spacer/>
        </v-layout>
    </v-container>
    <v-container class="brainTrainerMissionSection" 
        data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom" fluid>
        <v-layout class="brainTrainerMissionSection" align-center justify-center>
            <span class="missionMessage">
                Brain Trainer creates innovative puzzle books that are designed to make you think.
            </span>
        </v-layout>
    </v-container>
    <v-container fluid class="pa-0 ma-0">
        <PuzzleBanner title='3D Mazes' v-bind:styleNum="1" data-aos="fade-left"
            imageOneSrc="CompressedEgyptStairs.png" 
            imageTwoSrc="CompressedEgyptDiamond.png" />
        <PuzzleBanner title='2D Mazes'  v-bind:styleNum="3" data-aos="fade-right"
            imageOneSrc="CompressedSquareMaze.png" 
            imageTwoSrc="CompressedCircleMaze.png" />
        <PuzzleBanner title='Sudoku'  v-bind:styleNum="2" data-aos="fade-left"
            imageOneSrc="CompressedDoubleSudoku.png"
            imageTwoSrc="CompressedSamuraiSudoku.png" />
        <PuzzleBanner title='Maths'  :styleNum="1" data-aos="fade-right"
            imageOneSrc="CompressedFruitHard.png"
            imageTwoSrc="CompressedFruitEasy.png" />
        <PuzzleBanner title='Letter Puzzles' :styleNum="3" data-aos="fade-left"
            imageOneSrc="CompressedTargetMedium.png"
            imageTwoSrc="CompressedTargetHard.png"/>
        <PuzzleBanner title='Word Search' :styleNum="2" data-aos="fade-right"
            imageOneSrc="CompressedWordSearchPuzzleEasy.png"
            imageTwoSrc="CompressedWordSearchPuzzleHard.png"/>
        <PuzzleBanner title='Sequence Puzzles' :styleNum="1" data-aos="fade-left"
            imageOneSrc="CompressedEasySequence.png"
            imageTwoSrc="CompressedHardSequence.png"/>
            <PuzzleBanner title='Boggle Puzzles' :styleNum="3" data-aos="fade-right"
            imageOneSrc="CompressedBoggleProblem.png"
            imageTwoSrc="CompressedBoggleSolution.png"/>
    </v-container>
</v-content>
</template>

<script>
import 'aos/dist/aos.css';
import AOS from 'aos';
AOS.init({
    offset: 400,
    mirror: true,
    duration: 1000
});
import SignUpToolBar from './SignUpToolBar.vue';
import FlashButton from './FlashButton.vue';
import NavBar from './NavBar.vue';
import PuzzleBanner from './PuzzleBanner.vue';
export default {
    name: 'HomePage',
    components: { SignUpToolBar, FlashButton, NavBar, PuzzleBanner },
    data:() => {
        return {
            numberOfImages: 6,
            items: [
                {isHovered: false, productId: 'gp/product/1080690700', cover: 'wordsearchkids1214.jpg'},
                {isHovered: false, productId: 'gp/product/B084DGDRFY', cover: 'bigsudoku.jpg'},
                {isHovered: false, productId: 'gp/product/B084DHCZ86', cover: 'egypt.jpg'},
                {isHovered: false, productId: 'gp/product/1086744306', cover: 'kror.jpg'},
                {isHovered: false, productId: 'gp/product/1922364401', cover: '3dMazesKids14.jpg'},
                {isHovered: false, productId: 'Samurai-Sudoku-100-Puzzles/dp/1082542482', cover: 'samsudoku.jpg'},
                {isHovered: false, productId: 'gp/product/1922364428', cover: '3dMazesAdult.jpg'},
                {isHovered: false, productId: 'gp/product/B0851LL1CH', cover: 'wordassociation.jpg'},
                {isHovered: false, productId: 'gp/product/1080690700', cover: 'wordsearchkids1214.jpg'},
                {isHovered: false, productId: 'gp/product/B084DGDRFY', cover: 'bigsudoku.jpg'},
                {isHovered: false, productId: 'gp/product/B084DHCZ86', cover: 'egypt.jpg'},
                {isHovered: false, productId: 'gp/product/1086744306', cover: 'kror.jpg'},
                {isHovered: false, productId: 'gp/product/1922364401', cover: '3dMazesKids14.jpg'},
                {isHovered: false, productId: 'Samurai-Sudoku-100-Puzzles/dp/1082542482', cover: 'samsudoku.jpg'},
                {isHovered: false, productId: 'gp/product/1922364428', cover: '3dMazesAdult.jpg'},
                {isHovered: false, productId: 'gp/product/1081800127', cover: 'wordsearchkids912.jpg'},
            ]
        }
    },
    methods: {
        goToAllBooks(){
            this.$router.push({path: '/allbooks'})
        },
        activateHover(i){
            this.items[i].isHovered = true;
        },
        disableHover(i){
            this.items[i].isHovered = false;
        },
        linkToBook(i){
            window.open("http://www.amazon.com/" + this.items[i].productId);
        }
    }
}
</script>

<style lang="less" scoped>
  @import "../assets/less/settings.less";
    .v-messages__message {
        line-height: 20px!important;
        font-size: 20px!important;
    }
    .brainTrainerMissionSection {
        height: 500px;
    }
    .missionDiv {
        height: 100%;
        background-color: blue;
    }
    .instaLink {
        text-decoration: none;
    }
    .back {
        background-image: radial-gradient(#99FFFF 8%, white 70%);
        height: 400px;
    }
    .imgContainer img{
        width: 100%;
    }
    .imgContainer {
        width: 450px;
    }
    .brainTrainerMessage {
        font-size: 2.7em;
        font-weight: bold;
        width: 100%;
        margin: auto;
        color: @brainTrainerBlue;
    }
    .instagramMessage {
        font-size: 2.7em;
    }
    .instagramLink {
        font-weight: bold;
        font-size: 3.2em;
        padding-top: 35px;
    }
    .sliderBack {
        background-color: black;
    }
    .bookArea {
        background-color: white;
        height: 550px;
        width: 100%;
        display: flex;
        overflow: hidden;
        position: relative;
    }
    .whiteOverlayLeft {
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(0.25turn, white, rgba(255,255,255, 0) 80%, rgba(255,255,255, 0));
        width: 20%;
        height: 100%;    
        z-index: 4;
    }
    .whiteOverlayRight {
        position:absolute;
        top:0;
        left: 81%;
        background: linear-gradient(0.25turn, rgba(255,255,255, 0), white);
        width: 20%;
        z-index: 4;
        height: 100%;
    }
    .slider {
        position: relative;
        animation: scroll 20s linear infinite;
		display: flex;
        // width: calc(400px * 14);
        z-index: 2;
    }
    .bookDiv{
        width: 400px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bookImgContainer {
        width: 269.5px;
        max-width: 290px;
        height: 350px;
        transition: all .2s ease-in-out; 
    }
    .grow { 
        transform: scale(1.1);
        cursor: pointer;
    }
    .bookImgContainer img{
        width: 100%;
        height: 100%;
    }
    .instagramSection {
        background-image: radial-gradient( #6796ad, #3a5968);
        height: 400px;
        margin-top: 100px;
    }
    .logoContainer {
        margin: auto;
        width: 150px;
        height: 150px;
    }
    .logoContainer img {
        width: 100%;
    }
    .allBooksButton {
        width: 300px;
        height: 80px;
        border: 1px solid @brainTrainerBlue;
        position: relative;
        overflow:hidden;
        color: white;
        font-size: 2.2rem;
        background-color: @brainTrainerBlue;
    }
    .allBooksButton::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        Left: -100%;
        top: 0;
        background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.4), transparent);
        transition: all 450ms;
    }
    .allBooksButton:hover::before {
        Left: 100%;
    }
    .missionMessage {
        font-size: 55px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
        margin: 0px 10%;
        text-align: center;
    }

    @media (max-width: 600px) {
    .brainTrainerMessage{
        font-size: 2rem;
        
    }
    .imgContainer {
        width: 300px;
    }
    .logoContainer {
        width: 100px;
        height: 100px;
    }
    .missionMessage {
        font-size:30px;
    }
    .instagramMessage {
        font-size: 1.5rem;
    }
    .brainTrainerMissionSection {
        height: 600px;
    }
}

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-400px * 8))}
}

</style>