<template>
    <v-container fluid class="mt-0 pt-0">
        <v-layout row wrap fluid class="navBarContainer" align-center hidden-xs-only>
            <v-flex xs3 md2>
                <div class="bannerLogoDiv" @click="goToHome">
                    <v-img src="../assets/general/CompressedBannerLogo.png" alt="Banner Logo"/>
                </div>
            </v-flex>
            <v-spacer></v-spacer>
            <v-flex xs2 md1>
                <span class="navHeader" @click="goToHome">About</span>
            </v-flex>
            <v-flex xs2 md1>
                <span class="navHeader" @click="goToAllBooks">Books</span>
            </v-flex>
            <v-flex xs2 md1>
                <span class="navHeader" @click="goToTeam">Team</span>
            </v-flex>
        </v-layout>
         <v-menu
            v-model="value"
            :disabled="disabled"
            :absolute="absolute"
            :open-on-hover="openOnHover"
            :close-on-click="closeOnClick"
            :close-on-content-click="closeOnContentClick"
            :offset-x="offsetX"
            :offset-y="offsetY"
            v-show="$vuetify.breakpoint.xs"
            >
            <template v-slot:activator="{ on }">
                <div class="buttonDiv">
                    <v-btn
                        class="dropdownButton"
                        color="white"
                        dark
                        v-on="on"
                        v-show="$vuetify.breakpoint.xs"
                        >
                        Menu
                    </v-btn>
                </div>
            </template>
            <v-list>
                <v-list-item @click="goToHome">
                    <v-list-item-title class="dropdownList">About</v-list-item-title>
                </v-list-item>
                <v-list-item @click="goToAllBooks">
                    <v-list-item-title class="dropdownList">Books</v-list-item-title>
                </v-list-item>
                <v-list-item @click="goToTeam">
                    <v-list-item-title class="dropdownList">Team</v-list-item-title>
                </v-list-item>
            </v-list>
        </v-menu>
    </v-container>
</template>
<script>
export default {
    name: 'navbar',
    data: () => ({
         disabled: false,
        absolute: false,
        openOnHover: false,
        value: false,
        closeOnClick: true,
        closeOnContentClick: true,
        offsetX: false,
        offsetY: true,
    }),
    methods: {
        goToAllBooks(){
            this.$router.push({path: '/allbooks'})
        },
        goToHome(){
            this.$router.push({path: '/'})
        },
        goToTeam(){
            this.$router.push({path: '/team'})
        }
    }
}
</script>

<style lang="less" scoped>
@import "../assets/less/settings.less";
.navBarContainer{
    height: 100px;
}
.bannerLogoDiv {
    padding-left: 15px;
}
.navHeader {
    font-size: 30px;
    font-weight: bold;
    color: @brainTrainerBlue;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.navHeader:hover, .bannerLogoDiv:hover {
    cursor: pointer;
    color: @indigo;
}
.dropdownButton{
    color: @brainTrainerBlue;
    font-size: 25px;
    width: 40%;
    height: 60px!important;
}
.dropdownList {
    color: @brainTrainerBlue;
    font-weight: bold;
    font-size: 28px;
}
.buttonDiv {
    display: flex;
    justify-content: center;
}
</style>
