<template>
    <v-content>
        <v-layout row justify-center align-center class="puzzleSection"   
            v-bind:class="{ backStyleOne: styleNum == 1, backStyleTwo: styleNum == 2 }"
>
            <v-flex class="text-center" xs12 md4> 
               <span class="puzzleTitle"> {{title}} </span>
            </v-flex>
            <v-flex xs12 md4>
                <div class="puzzleDiv" >
                    <v-img v-bind:src="require('../assets/puzzles/' + imageOneSrc)" /> 
                </div>
            </v-flex>
            <v-flex xs12 md4>
                    <v-img v-bind:src="require('../assets/puzzles/' + imageTwoSrc)" /> 
            </v-flex>
        </v-layout>
    </v-content>
</template>
<script>
export default {
    props: {
        styleNum:Number,
        title:String,
        imageOneSrc:String,
        imageTwoSrc:String,
    }
}
</script>

<style lang="less" scoped>
    @import "../assets/less/settings.less";

    .puzzleSection {
        min-height: 380px;
        padding: 3%;
    }
    .backStyleOne {
        background-color: @indigo;
    }
    .backStyleOne span {
        color: orange;
    }
    .backStyleTwo {
        background: linear-gradient(0.1turn, rgb(238, 230, 215), #fff,rgb(238, 230, 215));
    }
    .puzzleTitle {
        font-size: 90px;
        font-family: 'Times New Roman', Times, serif;
    }
    @media (max-width: 600px){
        .puzzleTitle {
            font-size: 50px;
        }
    }
</style>
