<template>
    <div class="container">
        <span class="reviewCount">({{ratingCount}})</span>
        <div class="ratingBar">
             <div class="starOverlayBar" :style="barStyle"></div>
              <div class="starOverlayBarGrey"></div>
            <div v-for="(star,index) of stars" :key="star.id" >
                <div class="star"  v-bind:class="[{active: stars[index].isHovered == true}]" @mouseover="adjustStarsOnHover(index)" @mouseleave="resetStars" @click="addReview(index)">
                    <img src="../assets/general/star.png" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import BookService from '../BookService';

export default {
    props: {
        averageRating:Number,
        ratingCount:Number,
         onRating: {
            type: Function,
            required: true
        },
        lockedRating: Boolean
    },
    data: () => ({
        stars: [{isHovered: false}, {isHovered: false}, {isHovered: false}, {isHovered: false}, {isHovered: false}],
        locked: false,
        ratingInProgress: false
    }),
    computed: {
        barStyle(){
            return 'width: ' + (this.averageRating / 5 * 100) + '%';
        },
    },
    methods: {
        adjustStarsOnHover(index){
            if(this.lockedRating){
                return;
            }
            for(let i = 0; i < this.stars.length; i++){
                if(i <= index){
                    this.stars[i].isHovered = true;
                }
            }
        },
        resetStars(){
            for(let i = 0; i < this.stars.length; i++){
                this.stars[i].isHovered = false;
            }
        },
         async addReview(index){
            if(this.lockedRating || this.ratingInProgress)
                return;

            //Lock ability to rate:
            this.ratingInProgress = true;
            this.lockedRating = true;
            let rating = (index+1).toString();
            try{
                let result = await BookService.updateBook(this.$route.params.id, rating);
                if(result)
                {
                    this.onRating();
                    this.ratingInProgress = false;
                }
            } catch(err){
                console.log(err);
            }
        }
    }
}
</script>

<style lang="less" scoped>
// @starHeight: 60px;
@starHeight: 60px;
@containerWidth: @starHeight * 5;
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: @containerWidth;
    justify-content: center;
}
.reviewCount {
    font-size: 40px;
}
.ratingBar {
    display: flex;
    width: @containerWidth;
    height: @starHeight;
    background-color: white;
}

.star {
    width: @starHeight;
    height: @starHeight;
    position: relative;
    z-index: 6;
}
.star:hover {
    cursor:pointer;
}
.active {
    background-color: yellow!important;
}
.starOverlayBar{
    position:absolute;
    // width: 50%;
    height: @starHeight;
    background-color: gold!important;;
    z-index: 5;
}
.starOverlayBarGrey{
    position:absolute;
    width: @containerWidth;
    height: @starHeight;
    background-color: lightgrey;
    z-index: 4;
}

.star img {
    width: 100%;
    z-index: 9;
}

@media (max-width: 600px){
    .reviewCount {
        font-size: 25px;
    }
    @starHeight: 40px;
    @containerWidth: @starHeight * 5;
    .container {
        width: @containerWidth;
    }
    .star {
        width: @starHeight;
        height: @starHeight;
    }
    .ratingBar {
        width: @containerWidth;
        height: @starHeight;
    }
    .starOverlayBarGrey{
        width: @containerWidth;
        height: @starHeight;
    }
    .starOverlayBar {
        height: @starHeight;
    }
}
</style>
