<template>
<v-dialog v-model="show" max-width="800px">
  <v-card class="dialog">
        <v-card-title
          class="headline indigo white--text justify-space-between"
          primary-title
        >
          <span class="modalTitle">{{alteredName}}, Welcome to Brain Trainer!</span>
          <v-icon @click.stop="onClose" large right color="white">close</v-icon>
        </v-card-title>
        <div class="pa-3">
             <v-card-text class="cardText text-center">
            We're so happy you're here. We aim to provide you with the material to stimulate and grow your brain. 
            <br> <br>
            We sent you an email with your free ebook!
            </v-card-text>
            <div class="imgContainer">
                <img src="../assets/covers/wordassociation.jpg" />
            </div>
        </div>
  </v-card>
</v-dialog>
</template>

<script>
  export default {
    props: {
        value:Boolean,
        name:String,
         onClose: {
            type: Function,
            required: true
        },
    },
    computed: {
        show: {
            get () {
                return this.value
            },
            set (value) {
                this.$emit('input', value)
            }
        },
        alteredName: {
            get() {
                if(this.name){
                    //Re-format name properly:
                    let upperCaseName = this.name.toUpperCase();
                    let firstLetter = upperCaseName[0];
                    let substring = this.name.substr(1, this.name.length-1);
                    return firstLetter + substring;
                }
                return null;
            }
        }
    },
    watch: {
        //Watch computed 'show' variable to see if user cancelled dialog by clicking on backdrop:
        show(val){
            if(!val){
                this.onClose();
            }
        }
    }
  }
</script>

<style scoped lang="less">
      @import "../assets/less/settings.less";

    .modalTitle {
        font-size: 30px;
    }
    .cardText {
        font-size: 25px;
        line-height: 30px;
    }
    .dialog {
        min-height: 500px;
    }
    .imgContainer {
        width: 200px;
        height: 240px;
        margin:auto;
    }
    .imgContainer img {
        width: 100%;
    }
</style>
