<template>
<v-content>
<v-container fluid class="indigo ma-0 pa-0">
<SignUpModal v-model="showSignUpModal" v-bind:name="name" :onClose="closeModal"/>

 <v-form v-model="valid" v-on:submit.prevent="onSubmit" class="ma-0 pa-0" ref="form">
    <v-container>
      <v-layout row wrap align-top class="justify-space-around  ma-0">
        <v-flex xs12 md4 class="mt-2 signupArea">
          <span class="white--text signupText"> Sign up for a free book! </span>
        </v-flex>
       <v-flex xs12 md2>
          <v-text-field
            v-model="name"
            :rules="nameRules"
            label="Name"
            placeholder="Name"
            required
            outlined
            clearable
            color="white"
            class="textField"
            height="40"
          ></v-text-field>
      </v-flex>

       <v-flex xs12 md3>
          <v-text-field
            v-model="email"
            :rules="emailRules"
            label="E-mail"
            color="white"
            required
            placeholder="Email"
            outlined
            clearable
            class="textField red--text"
            height="40"
          ></v-text-field>
       </v-flex>

        <v-flex xs12 md2 py-0 px-0>
          <div class="form-group">
            <v-btn block color="blue" class="white--text btnText" type="submit" value="Submit" height="53">
              <span class="textField btnText">Sign up </span>
            </v-btn>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </v-form>
</v-container>
</v-content>
</template>
<script>
import PostService from '../PostService';
import SignUpModal from './SignUpModal.vue';
export default {
    name: 'signup',
    components: { SignUpModal },
  data: () => ({
      showSignUpModal: false,
      valid: false,
      name: '',
      nameRules: [
        v => !!v || 'Name is required',
        v => v ? v.length <= 20 || 'Name must be less than 20 characters' : '',
      ],
      email: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid',
      ],
    }),
    methods: {
      async onSubmit(){
        if(this.valid){
          await this.signup();
          this.showSignUpModal = true;
        }
      },
       async signup (){
         let user = {
           name: this.name,
           email: this.email
         }
         PostService.signUp(user);
      },
      closeModal(){
        this.showSignUpModal = false;
        this.$refs.form.reset()
      }
    }
}
</script>

<style lang="scss">
  .textField{
    color: white!important;
  }
  .textField input {
    color: white!important;
    // font-size: 1.2em!important;
  }
  .textField :placeholder-shown{
    font-size: 15px!important;
  }
  .textfield label {
    font-size: 15px!important;
  }
  .btnText {
    font-size: 24px!important;
  }
  .signupText {
    font-size: 29px;
  }
  @media (max-width:600px){
    .signupText {
      font-size: 22px;
    }
  }

  @media (max-width:960px){
    .signupArea{
      padding: 14px;
    }
  }
</style>