<template>
    <v-content>
        <SignUpToolBar />
        <NavBar />
        <div class="bannerImage mt-4 paddingTop">
            <v-img src="../assets/general/webBanner.png" />
        </div>
        <v-layout row class="mt-5 profilePicArea paddingTop" data-aos="fade-down" data-aos-duration="3000">
            <v-flex xs12 md4 class="text-center">
                <div class="profilePicDiv">
                    <img src="../assets/team/CompressedChris.png" />
                </div>
                <h1 class="employeeTitle">Cofounder & Developer</h1>
                <span class="employeeName">Chris Ford</span>
            </v-flex>
            <v-flex xs12 md4 class="text-center">
                    <div class="profilePicDiv">
                        <img src="../assets/team/CompressedHannah.png" />
                    </div>
                    <h1 class="employeeTitle">Senior Graphics Designer</h1>
                    <span class="employeeName">Hannah Cabales</span>
            </v-flex>
            <v-flex xs12 md4 class="text-center">
                <div class="profilePicDiv">
                    <img src="../assets/team/CompressedZiggy.jpg"/>
                </div>
                <h1 class="employeeTitle">Creative Director</h1>
                <span class="employeeName">Jessica Ziggy Roberts</span>
            </v-flex>
        </v-layout>
        <!-- <v-layout row class="mt-5 paddingTop paddingBottom" data-aos="fade-right" data-aos-duration="3000">
            <v-flex xs12 md4 class="text-center">
                <div class="profilePicDiv">
                    <img src="../assets/team/stevenPham.png"/>
                </div>
                <h1 class="employeeTitle">FullStack Developer</h1>
                <span class="employeeName">Steven Pham</span>
            </v-flex>
        </v-layout> -->
    </v-content>
</template>

<script>
import SignUpToolBar from './SignUpToolBar.vue';
import NavBar from './NavBar.vue';
import 'aos/dist/aos.css';
import AOS from 'aos';
AOS.init({
    offset: 400,
    mirror: true
});
export default {
    name: 'Team',
    components: { NavBar, SignUpToolBar },
    data:() => {
        return {
        }
    }
}
</script>

<style lang="less" scoped>
  @import "../assets/less/settings.less";

.profilePicDiv{
    border-radius: 50%;
    overflow: hidden;
    width: 350px;
    height: 350px;
    margin:auto;
    border: 8px solid @brainTrainerBlue;
}
.profilePicDiv img {
    width: 100%;
}
.paddingTop {
    padding-top: 100px;
}
.paddingBottom {
    padding-bottom: 100px;
}
.profilePicArea {
    padding-top: 100px;
}

.employeeName {
    font-size: 27px;
}
.employeeTitle {
    color: @brainTrainerBlue;
    font-size: 40px;
}
.employeeName, .employeeTitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
@media (max-width: 600px){
    .profilePicDiv{
        width:  290px;
        height: 290px;
    }
}

</style>
